.ttt-pop-up {
  margin: 20vh auto 0 auto;
  border-radius: 10px;
  width: 40%;
  max-width: 500px;
  height: 35vh;
  min-height: 300px;
}

.ttt-pop-up-container {
  color: white;
  z-index: 50;
  position: relative;
  height: 35vh;
  margin: 10px 10px 10px 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.ttt-pop-up-center-block {
  bottom: 0;
  text-align: center;
  margin-left: 25%;
  margin-right: 25%;
  width: 250px;
}

.ttt-pop-up-title {
  margin-top: 10px;
  text-align: center;
  font-size: 35px;
  font-weight: bold;
}

.ttt-title-yellow {
  font-size: 80px;
  font-family: digitaltmedium, serif;
  color: rgb(255, 208, 51);
}
.ttt-title-red {
  font-size: 80px;
  font-family: digitaltmedium, serif;
  color: rgb(235, 23, 80);
}
.ttt-nickname {
  /*background: rgb(230,230,230);*/
  font-size: 16px;
  padding-left: 10px;
  border-radius: 4px;
  border-color: #a2a2a2;
  height: 32px;
  width: 100%;
}

.ttt-play {
  height: 35px;
  line-height: 35px;
  color: #fff;
  font-size: 20px;
  font-weight: 700;
  margin-top: 10px;
  border-radius: 4px;
  background: rgb(248, 118, 107);
}

.ttt-offline-container {
  margin-top: 10px;
  bottom: 0;
}

#ttt-play-offline {
  background: rgb(215, 57, 172);
  margin-top: 0;
  bottom: 0;
}

#ttt-play-offline:hover {
  background: rgb(176, 47, 141);
}

.ttt-play:hover {
  background: rgb(196, 75, 64);
}

@media (max-width: 600px) {
  .ttt-pop-up {
    width: 70%;
    height: 50%;
  }
}

@media (min-width: 600px) and (max-width: 900px) {
  .ttt-pop-up {
    width: 55%;
    height: 40%;
  }
}
