.ttt-header {
    position: relative;
    z-index: 3;
    background: rgb(30, 30, 30);
    /*background: #ADE292;*/
    height: 50px;
}
.ttt-name {
    display: inline-block;
    padding-top: 14px;
    padding-left: 20px;
    font-size: 19px;
    color: white;
}