.ttt-header {
    /*display: flex;*/
    /*justify-content: center;*/
    /*align-items: center;*/
    background: rgb(30, 30, 30);
    /*background: #ADE292;*/
    height: 50px;
}
.ttt-name {
    display: inline-block;
    padding-top: 14px;
    padding-left: 10px;
    font-size: 19px;
    color: white;
}