.ttt-board-block {
    margin-top: 10vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.board-container {
    display: flex;
}


.board {
    order: 2;
    display: inline-flex;
    padding: 5px 5px 5px 5px;
    background: rgb(102, 72, 196);
    border-radius: 10px;
    width: 55vw;
    height: 55vw;
    max-width: 600px;
    max-height: 600px;
}

.board-column {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.board-square {
    position: relative;
    margin: 4px 4px 4px 4px;
    border-radius: 10px;
    background: rgb(51, 34, 103);
    font-size: 80px;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.board-column:not(:first-child) {
    border-left: 4px solid rgb(102, 72, 196);
}
.board-square:not(:first-child) {
    border-top: 4px solid rgb(102, 72, 196);
}

.cross {
    position: absolute;
    height: 20%;
    width: 80%;
    background: rgb(235, 23, 80);
}
.cross-square-won {
    background: #fff;
}

.cross-up {
    transform: rotate(45deg)
}
.cross-down {
    transform: rotate(-45deg)
}

.circle {
    position: absolute;
    background: rgb(255, 208, 51);
    border-radius: 50%
}
.circle-square-won {
    background: #fff;
}

.circle-outer {
    width: 75%;
    height: 75%;
    border-radius: 50%
}
.circle-inner {
    z-index: 5;
    background: rgb(51, 34, 103);
    width: 30%;
    height: 30%
}
.circle-inner.circle-square-won {
    background: rgb(39,208,117);
}

.square-won {
    background: rgb(39,208,117);
}


.highlightCurrentPlayer {
/*    background: #ADE292;*/
    font-size: 20px;
}

.score-container {
    margin-top: 20px;
    display: flex;
    width: 55vh;
    height: 75px;
}

.player1 {
    flex-grow: 3
}

.ties {
    flex-grow: 1
}

.player2 {
    flex-grow: 3;
}

.score {
    color: white;
    height: 75px;
    font-size: 18px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.score-id {
    border-radius: 9px;
    padding: 4px 4px 4px 4px;
    flex-grow: 0;
}


.score-value {
    font-size: 30px;
    margin-top: 10px;
}
@media(max-width: 1050px) {
    .board {
        width: 40vw;
        height: 40vw;
    }
}

@media(max-width: 860px) and (min-width: 767px) {
    .square {
        width: 30vw;
        height: 30vw;
    }
}
@media (max-width: 767px) {
    .break {
        order: 3;
        width: 100%;
    }
    .ttt-board-block {
        margin-top: 0;
    }
    .board-container {
        flex-wrap: wrap;
        width: 100vw;
        justify-content: center;
    }
    .board {
        margin-top: 40px;
        order: 4;
        width: 40vh;
        height: 40vh;
    }
    .board-square {
        font-size: 80px;
        margin: 2px 2px 2px 2px;
    }
    .score-container {
        min-width: 400px;
        width: 50vw;
    }
    .score {
        height: 50px;
        font-size: 20px;
    }
}