.c4-board-block {
    display: flex;
    padding-top: 10vh;
    justify-content: center;
}
.c4-board-container {
    margin: auto;
    border-radius: 10px;
}

.c4-board {
    /*background: rgb(64, 148, 245);*/
    background: rgb(102, 72, 196);
    display: inline-flex;
    border-radius: 10px;
    width: 55vw;
    max-width: 700px;
    padding: 20px;
    order: 2;

}
.c4-column {
    padding-bottom: 20px;
    flex-grow: 1;
    height: 100%;
    display: inline-flex;
    flex-direction: column;
}
.c4-tile {
    margin: 8px;
    flex-grow: 1;
}

.c4-tile::before {
    width: 100%;
    padding-top: 100%;
    border-radius: 50%;
    box-shadow: 0 2px 1px rgb(37, 19, 91) inset;
    background: rgb(51, 34, 103);
    content: '';
    display: block;
    position: relative;
    /*transition: all 0.1s;*/
}

.c4-tile-red::before {
    background: #F84E6A;
    box-shadow: -1px 4px 8px rgba(45, 0, 0, 0.69) inset, -24px -25px 20px #d02647 inset;
}
.c4-tile-yellow::before {
    background: rgb(248, 205, 123);
    box-shadow: -1px 4px 8px #625217 inset, -24px -25px 20px #dbb318 inset;
}

.c4-column:hover .c4-next-active-tile-red::before {
    background: #F84E6A;
    box-shadow: -1px 4px 8px rgba(45, 0, 0, 0.69) inset, -24px -25px 20px #d02647 inset;
    opacity: 0.6;
}
.c4-column:hover .c4-next-active-tile-yellow::before {
    background: rgb(248, 205, 123);
    opacity: 0.6;
    box-shadow: -1px 4px 8px #625217 inset, -24px -25px 20px #dbb318 inset;
}

@media (max-width: 1080px) {
    .c4-tile {
        margin: 5px;
    }
}

@media (max-width: 880px) {
    .c4-tile {
        margin: 4px;
    }
}

@media (max-width: 767px) {
    .c4-board {
        order: 4;
        margin-top: 30px;
        margin-bottom: 20px;
        width: 90vw;
    }
    .break {
        order: 3;
        width: 100%;
    }
    .c4-board-block {
        padding-top: 0;
        flex-wrap: wrap;
        width: 100vw;
        justify-content: center;
    }
}
