html,
body {
  min-height: 100vh;
  min-width: 100vw;
  margin: 0 0;
}
body {
  overflow-x: hidden;
}

.app {
  min-height: 100vh;
  background: rgb(26, 26, 26) no-repeat fixed;
}

* {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

.header-link:hover {
  cursor: pointer;
}

.name {
  /*font-weight: 700;*/
  display: inline-block;
  padding-top: 13px;
  padding-left: 10px;
  font-size: 40px;
  color: white;
}

.main-header {
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgb(20,17,64);
  background: linear-gradient(138deg, rgba(20,17,64,1) 0%, rgba(126,43,182,1) 56%, rgba(0,212,255,1) 100%);
  height: 220px;
}

.main {
  /*height: 80vh;*/
  text-align: center;
}

@media (max-width: 1400px) and (min-width: 750px) {
  .name {
    font-size: 35px;
  }
  .main-header {
    height: 180px;
  }
}
@media (max-width: 749px)  {
  .name {
    font-size: 30px;
  }
    .main-header {
        height: 160px;
    }
}
@media (max-width: 400px) {
  .name {
    font-size: 25px;
  }
}
