html, body {
    min-height: 100vh;
    width: 100vw;
}

body {
    margin: 0 0;
    background: rgb(51,12,78);
    background: linear-gradient(321deg, rgba(51,12,78,1) 0%, rgba(35,16,73,1) 53%, rgba(54,33,136,1) 100%);
}

* {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.header-link:hover {
    cursor: pointer;
}

.app {
    height: 100vh;
    width: 100vw;
}
.name {
    /*font-weight: 700;*/
    display: inline-block;
    padding-top: 13px;
    padding-left: 10px;
    font-size: 25px;
    color: white;
}

.main-header {
    background: #ADE292;
    /*background: #1E73BE;*/
    /*background: rgb(30, 30, 30);*/
    /*background: coral;*/
    /*border-bottom: 1px solid grey;*/
    height: 6vh;
}

.main {
    height: 80vh;
    text-align: center;
}