a.nostyle:link {
    text-decoration: inherit;
    color: inherit;
    /*cursor: auto;*/
}

a.nostyle:visited {
    text-decoration: inherit;
    color: inherit;
    /*cursor: auto;*/
}

.icon {
    width: 100%;
    height: auto;
    border-radius: 20%
}

.game-button-title {
    color: white;
    margin: 0 0 0 0
}

.game-button {
    padding: 0 10px 0 10px;
}
