.player-box-container {
    padding-top: 20px;
    position: relative;
    border-radius: 15px;
    display: inline-block;
    text-align: center;
    width: 175px;
    height: 215px;
}
.player-box-border {
    border: 1px solid #ADE292;
}

.player-box-container.left {
    margin: 12vh 150px 0 50px;
    order: 1;
}
.player-box-container.right {
    margin: 12vh 50px 0 150px;
    order: 3;
}

.user-icon-circle{
    display: inline-flex;
    margin-top: 4px;
    justify-content: center;
    align-items: flex-end;
    overflow: hidden;
    border: 2px solid white;
    height: 70px;
    width: 70px;
    border-radius: 50%;
    background: rgb(199, 188, 229);
}

.user-icon-circle img {
    width: 50px;
}

.user-icon {
    margin-top: 19px;
    color: rgb(106, 72, 176);
}

.player-box-name {
    margin-top: 10px;
    font-size: 20px;
    color: white;
}


@media (max-width: 1300px) {
    .player-box-name {
        font-size: 16px;
    }
    .player-box-container.left {
        margin: 12vh 30px 0 70px;
    }
    .player-box-container.right {
        margin: 12vh 70px 0 30px;
    }
}
@media (max-width: 1080px) {
    .player-box-container.left {
         margin: 12vh 30px 0 30px;
     }
    .player-box-container.right {
         margin: 12vh 30px 0 30px;
     }
}

@media(max-width: 860px) {
    .player-box-container {
        padding-top: 5px;
        height: 170px;
        width: 124px;
    }
    .user-icon-circle img {
        width: 40px;
    }
    .user-icon-circle {
        width: 60px;
        height: 60px;
    }
}

@media (max-width: 767px) {
    .player-box-container.left {
        margin: 20px 40px 10px 0;
    }
    .player-box-container.right {
        margin: 20px 0 10px 40px;
        order: 2;
    }
}
@media (max-width: 340px) {
    .player-box-container.left {
        margin: 20px 20px 0 0;
    }
    .player-box-container.right {
        margin: 20px 0 0 20px;
        order: 2;
    }
}